#admin_panel {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

#admin_panel .header {

    position: fixed;
    width: 1400px;
    height: 150px;
    z-index: 100;
    background: white;
    top: 0;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .header h3 {
    margin: 15px auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 4px 40px rgba(39, 98, 210, 0.15);
}

#admin_panel .header .add_product {
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 0 20px 0 0;
    position: absolute;
    left: 0;
    bottom: -20px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .header .information_users {
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 20px 0 0 0;
    position: absolute;
    right: 0;
    bottom: -20px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .header .search_product {
    display: block;
    border: 1px solid #808080;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 50px auto;
}

#admin_panel .form_add_product, #admin_panel .form_information_users {
    min-width: 1400px;
    min-height: 500px;
    z-index: 110;
    position: fixed;
    background: white;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding-left: 30px;
}

#admin_panel .form_add_product span {
    display: block;
    margin-top: 30px;
}

#admin_panel .form_add_product .title input, #admin_panel .form_add_product .type input, #admin_panel .form_add_product .price input {
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-size: 15px;
    height: 25px;
    width: 400px;
    padding-left: 10px;
    margin-left: 20px;
    text-align: center;
}

#admin_panel .form_add_product .photo input {
    margin-left: 20px;
}

#admin_panel .form_add_product .description textarea {
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    min-width: 500px;
    max-width: 800px;
    min-height: 100px;
    max-height: 300px;
    margin-left: 20px;
    height: 100px;
    padding: 10px;
    font-size: 15px;
}


#admin_panel .form_add_product .title input {
    margin-left: 45px;
}

#admin_panel .form_add_product .type input {
    margin-left: 40px;
}

#admin_panel .form_add_product .price input {
    margin-left: 82px;
}

#admin_panel .form_add_product .photo input {
    margin-left: 83px;
}

#admin_panel .form_add_product .description textarea {
    margin-left: 38px;
}

#admin_panel .form_add_product .add {
    font-size: 14px;
    height: 30px;
    border-radius: 10px;
    margin-top: 40px;
}

#admin_panel .form_information_users span {
    display: block;
    margin-top: 20px;
}

#admin_panel .form_information_users span textarea {
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    max-height: 200px;
    padding: 20px;
    font-size: 15px;
}

#admin_panel .form_information_users button {
    font-size: 14px;
    height: 35px;
    border-radius: 10px;
}

#admin_panel .form_information_users .greeting textarea {
    margin-left: 40px;
}

#admin_panel .form_information_users .contacts textarea {
    margin-left: 70px;
}

#admin_panel .form_information_users .sum_chats_bot {
    margin-top: -20px;
    padding-bottom: 20px;
}

#admin_panel .form_information_users .create_greeting, #admin_panel .form_information_users .create_contacts {
    margin-left: 255px;
}

#admin_panel .form_add_product .exit {
    width: 40px;
    height: 40px;
    font-size: 17px;
    background: white;
    margin-right: 10px;
    margin-top: 5px;
}

#admin_panel .form_add_product .exit:hover {
    background: #cecece;
}


#admin_panel .form_information_users .exit {
    width: 40px;
    height: 40px;
    font-size: 17px;
    background: white;
    margin-right: 10px;
    margin-top: 5px;
}

#admin_panel .form_information_users .exit:hover {
    background: #cecece;
}

#admin_panel .form_information_users .mailing {
    position: absolute;
    top: 80px;
    right: 80px;

}

#admin_panel .form_information_users .send {
    position: absolute;
    top: 303px;
    right: 80px;
}


#admin_panel .form_information_users .mailing  textarea{
    margin-left: 30px;

}


#admin_panel button:hover {
    background: grey;
}

#admin_panel .product_container {
    margin-top: 150px;
}

#admin_panel .product {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
}

#admin_panel .product .title, #admin_panel .product .price, #admin_panel .product .description, #admin_panel .product .type {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

#admin_panel .product .type {
    width: 240px;
    overflow-x: hidden;
}

#admin_panel .product .title {
    width: 400px;
    overflow-x: hidden;
}

#admin_panel .product .price {
    width: 300px;
}

#admin_panel .product .price input {
    font-size: 15px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    text-align: center;
}

#admin_panel .product .change {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .product .description {
    width: 1000px;
    height: 100px;
    padding: 10px;
    font-size: 15px;
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .product .delete {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#admin_panel .product .delete:hover {
    background: #ff4141;
}

