#authentication_page{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid white;
}

#authentication_page .form {
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 25%;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
#authentication_page .form input{
    text-align: center;
}

#authentication_page .form input, button {
    display: block;
    margin: 20px auto;
    width: 200px;

}

#authentication_page .form button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

#authentication_page .form button:hover {
    background: #d5d5d5;

}